body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-image: linear-gradient(#0ff 1px, transparent 1px);
  background-size: auto 24px;
  margin: 0;
  /* background: #033a4c; */
  color: rgb(0, 0, 0);
}


section {
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}




/* ---------Typography--------- */
/* Fonts */
/*font-family: 'Dancing Script', cursive;
font-family: 'Yellowtail', cursive;*/
h1 {
  font-size: 3.375rem;
  font-family: 'Yellowtail', cursive;
  line-height: 4.5rem;
  text-align: center;
  color: #ffffff;
  margin: 0;
  background: rgb(0, 0, 0);
  border-radius: 0.625rem;
  padding: 0.9375rem;
  margin-bottom: 3rem;
}

h2 {
  background: #050E1F;
  color: #f5f5f5;
  box-shadow: 0.625rem 0.25rem 0.25rem rgb(0 0 0 / 25%);
  border-radius: 1.75rem;
  width: 50%;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.8125rem;
  line-height: 56px;
  margin-bottom: 1.5rem;
}

h2,
h3 {
  font-family: 'Quintessential', cursive;
  text-align: center;
  color: #ffff;
  text-transform: uppercase;
}

p {

  font-family: 'Farsan';
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 2.8125rem;
}

/* Vertical Margin Collapse VMC */
h1,
p {
  margin: 0 0 1.5rem 0 !important;
}

h2 {
  margin: 1.5rem auto 1.5rem auto !important;
}

/* --------------- Navbar ---------------- */
header {
  max-width: 87.5rem;
  background-color: rgb(18, 77, 77);
  margin: 0 auto;
}

/* Style all the nav links for the smallest screen. Text styling goes on the anchor elements to overwrite the browser styles. Layout and spacing goes on the li elements.  */
ul.menu {
  background: #033a4c;
  padding: 1.25rem 0;

}

ul.menu a {
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-left: 1rem;
  font-family: Farsan;
  font-size: 1.5rem;
}

ul.menu a:hover,
ul.menu a:active {
  background-color: #3e3e3e;
  border-radius: 0.3125rem;
}

ul.menu li {
  line-height: 2.8125rem;
  margin: 0.5rem 0;
}

ul.sub-menu {
  padding: 0 1rem;
}

ul.sub-menu a {
  text-decoration: none;
}


/* --------------- Main Content ------------- */


.bg-img {
  background-image: url(/img/withering-heights-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  opacity: 0.9;
}

/* .overlay {
  background: rgba(44, 42, 42, 0.5)
} */


.plot {
  background-image: url(/img/plot.jpg) !important;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  background-attachment: fixed;
}

.plot-card {
  background-color: #000000a1;
  color: white;
}

.button {
  font-size: 3rem;
  border-radius: 1.25rem;
  width: 19.875rem;
  border: none;
  background: #fc0000;
  padding: 1.25rem;
  font-family: 'Farsan';
  text-align: center;
  box-shadow: 0.0625rem 0.3125rem 0.3125rem 0.3125rem rgb(0 0 0);
}

.button:hover {
  background-color: #ff0606bb;
}

.button:hover a {
  color: #000000;
}

.button a {
  text-decoration: none;
  color: #ffffff;
}

.row {
  display: grid;
}

.column {
  padding: 0 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-blue {
  /* background: #295F70; */
}

.dark-blue {
  /* background: #024F67; */
}

.img-container {
  margin: 0 auto;
}

.img-container img {
  margin: 0.875rem auto;
  border-radius: 0.3125rem;

}

figure {
  margin-bottom: 2rem;
}

.text-board {
  background: rgba(217, 217, 217, 0.27);
  border-radius: 1.9375rem;
  padding: 0.625rem;
  margin: 0.625rem;
  font-family: Farsan;
  font-size: 1.25rem;
  text-align: left;
  color: #000000;
}

.card {
  padding: 1em 1rem;
  box-shadow: -0.0625rem 0.3125rem 1.125rem 0.125rem rgba(0, 0, 0, 0.804);
  border-radius: 0.625rem;
  max-width: 40rem;
  /* min-width: 18.75rem; */
  margin-bottom: 1.5rem;
  /* background: #181A1B; */
  color: #FFDD00;
}

.mb-100 {
  margin-top: 6.25rem;
}

/* .about .card {
  padding: 1.5rem 1rem;
}

.characters .card {
  padding: 0.875rem 1rem;
} */

.mh-646 {
  min-height: 646px;
}

/** Mobile **/
@media screen and (max-width: 65rem) {


  body {
    font-size: 1rem;
    overflow-x: hidden;
  }

  h1 {
    text-align: center;


  }

  .flex {
    flex-wrap: wrap;
  }


  h1,
  h2,
  h3 {
    font-size: 3.12rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  header p.tagline {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  section {
    width: 90%;
    margin-bottom: 1.8rem;
  }

}


/* Large Devices */
@media screen and (min-width: 70rem) {

  h2,
  .plot h3 {
    margin: 2.5rem;
    width: 25%;
  }

  /* --------------- Navbar ----------------- */
  ul.menu {
    display: flex;
  }

  ul.menu li {
    flex: 1;
    text-align: center;
  }

  ul.menu li a {
    padding: 0;
  }

  ul.sub-menu li {
    text-align: left;
  }

  /*   */
  ul.sub-menu {
    position: absolute;
    z-index: 1;
    background-color: #191919;
    border-radius: 0 0 0.3125rem 0.3125rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  /* Add a hover state to the main menu li and show the submenu of that li */
  ul.menu li:hover>ul.sub-menu {
    visibility: visible;
    opacity: 1;
  }

  /* Add a transition state to make this smooth. Makes it this dropdown a little more usable. Transition all changing properties(visibility & opacity), with a duration 0.5s and a timing function of ease */

  ul.menu li:focus-within>ul,
  ul.menu li>ul:focus {
    visibility: visible;
    opacity: 1;
  }


  img {
    max-height: 12.5rem;
  }

  .publications img {
    max-height: 11.5rem;
  }

  .publications .column {
    justify-content: center;
  }

  .publications .card {
    margin-top: 1.5rem;
  }

  .column {
    padding: 0 2.5rem;
  }

  .row {
    grid-template-columns: 1fr 1fr;
    /* gap: 2%; */
  }

  .row-3 {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

}